<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="flex flex-column">
          <div class="modal-about">
            {{dialogTitle}}
          </div>
          <div *ngIf="action === 'add'" class="modal-about">
            <span class="modal-about-text font-12 font-normal">El activo se creará pero no se podrá visualizar hasta que se le asigne una orden de entrada</span>
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="activosTableForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Placa No.</mat-label>
            <input aria-label="id" matInput formControlName="id" [readonly]="soloLectura">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="activosTableForm.get('fName')?.hasError('required')">
              La placa del activo es obligataria
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input aria-label="descripcion" matInput formControlName="descripcion">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="activosTableForm.get('descripcion')?.hasError('required')">
              La descripción del activo es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Capacidad (Pies)</mat-label>
            <input aria-label="capacidad" matInput formControlName="capacidad" required type="number">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
            <mat-error *ngIf="activosTableForm.get('capacidad')?.hasError('required')">
              La capacidad (Pies) del activo es obligatoria
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Marca</mat-label>
            <input aria-label="fabricante" matInput formControlName="fabricante">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="activosTableForm.get('fabricante')?.hasError('required')">
              La marca del activo es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button type="button" mat-raised-button color="primary" [disabled]="!activosTableForm.valid"
              [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
            <button type="button" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>