<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img back-img-login"><img src="assets/images/pages/logo-login.png" alt="logo coldservice" class="image-login">
      </div>
    </div>
    <section class="col-sm-6 auth-form-section">
      <div class="form-section">
        <section>
          <img src="assets/images/pages/logo-rigth.png" alt="">
        </section>
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> ColdSoft v.1.0 </h2>
          <span class="msg-ingreso">Ingrese sus credenciales</span>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row mt-2">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Usuario</mat-label>
                  <input matInput formControlName="username" />
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('username')?.hasError('required')">
                    El nombre de usuario es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <a href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon class="material-icons-two-tone color-icon m-3" matSuffix>
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  <mat-error *ngIf="authForm.get('password')?.hasError('required')">
                    La contraseña es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class="container-auth-form-btn">
              <div style="text-align:center">
                <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
                  class="auth-form-btn" [disabled]="!authForm.valid " type="submit">Ingresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
