<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="dialogo">
    <form class="register-form mx-4 my-2" [formGroup]="ordenesSalidaTableForm">

      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha" aria-label="Fecha" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="ordenesSalidaTableForm.get('fecha')?.hasError('required')">
              La fecha del orden es obligatoria
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Placa del vehículo</mat-label>
            <input aria-label="placa_vehiculo" matInput formControlName="placa_vehiculo">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>pin</mat-icon>
            <mat-error *ngIf="ordenesSalidaTableForm.get('placa_vehiculo')?.hasError('required')">
              La placa del vehículo es requerida
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Entrega</mat-label>
            <mat-select formControlName="entrega">
              <mat-option *ngFor="let tech of technicalOptions" [value]="tech.id">
                {{ tech.name }} - {{ tech.position }}
              </mat-option>
            </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>local_shipping</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Recibe</mat-label>
            <input aria-label="recibe" matInput formControlName="recibe">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>directions_walk</mat-icon>
          </mat-form-field>
        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Observaciones de la orden de salida</mat-label>
            <input aria-label="observaciones" matInput formControlName="observaciones">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>comment</mat-icon>
            <mat-error *ngIf="ordenesSalidaTableForm.get('observaciones')?.hasError('required')">
              Las observaciones no son requeridas
            </mat-error>          </mat-form-field>
        </div>
      </div>

      <div formArrayName="activosSalida" class="">
        <div class="table-responsive">
          <div class="table-container">
            <div class="table-row header border-2 border-black border-solid">
              <div class="table-cell col-xl-2 col-lg-2 col-md-4 col-sm-6">Placa</div>
              <div class="table-cell col-xl-2 col-lg-2 col-md-4 col-sm-6">Descripción</div>
              <div class="table-cell col-xl-5 col-lg-4 col-md-12 col-sm-12">Observaciones del activo en la salida</div>
            </div>

            <div *ngFor="let activo of activosSalida.controls; let i = index" [formGroupName]="i"
              class="table-row my-0">

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Activo</mat-label>
                <input aria-label="Placa" type="text" matInput [formControlName]="'idActivo'" [matAutocomplete]="auto"
                  (input)="filtrarActivos($event, i)">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayActivo"
                  (optionSelected)="onActivoEntradaIdChange($event, i)">
                  <mat-option *ngFor="let activo of filteredActivos" [value]="activo">
                    {{ activo.idActivo }}
                  </mat-option>
                </mat-autocomplete>
                <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>pin</mat-icon>
              </mat-form-field>
              <div class="table-cell col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <mat-form-field class="example-full-width no-margin no-border" appearance="outline">
                  <input aria-label="descripcion" matInput [formControlName]="'descripcion'" class="no-margin no-border"
                    readonly="true">
                </mat-form-field>
              </div>
              <div class="table-cell col-xl-5 col-lg-4 col-md-12 col-sm-12">
                <mat-form-field class="example-full-width no-margin no-border" appearance="outline">
                  <input aria-label="observaciones salida" matInput [formControlName]="'observaciones_salida'"
                    class="no-margin no-border">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button type="button" mat-raised-button color="primary"
              [disabled]="!ordenesSalidaTableForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Guardar</button>
            <button type="button" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>